<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <script defer src="/fontawesome-free-5.13.0-web/js/all.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
     <link href="/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
     <link href="/stylesheets/user/user_pages.css" rel="stylesheet">
    <!--BootsTrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
	<style>
    html, body {
    margin: 0;
    height: 100%;
    padding: 10px;
}
	.login-block{
    background: #DE6262;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262) no-re;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat:no-repeat;  
	float:left;
	width:100%;
	}
	.imageBanner{object-fit: cover; width:100%; 
                height:100%;   border-radius: 0 10px 10px 0; padding:0;}
	.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
	.carousel-inner{border-radius:0 10px 10px 0;}
	.carousel-caption{text-align:left; left:5%;}
	.login-sec{padding: 20px 30px; }
	.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
	.login-sec .copy-text i{color:#FEB58A;}
	.login-sec .copy-text a{color:#E36262;}
	.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
	.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
	.btn-login{background: #DE6262; color:#fff; font-weight:600;}
	.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
	.banner-text h2{color:#fff; font-weight:600;}
	.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
	.banner-text p{color:#fff;}
  .box.large{
        height: 600px;
        padding: 0; 
        width:500px;
    }
@media (max-width: 480px) {
    html, body {
      
        padding: 3%;
    }
   .box.large {
        display:none;
    }
    .login-sec{
        height:680px 
    }
}
	</style>
	<title>Plantae_Login</title>
</head>
<body class="login-block">	

      <main role="main" class="container" style="margin-top: 1%;">
       <div class="container">
         <% if(error && error.length > 0) { %>
           <div class="alert alert-danger" role="alert"><%=error %></div>
         <% } %>
         <% if(success && success.length > 0) { %>
           <div class="alert alert-success" role="alert"><%= success %></div>
         <% } %>
         <% if(info && info.length > 0) { %>
           <div class="alert alert-info" role="alert"><%= info %></div>
          <% } %>
        </div> 
    </main><!-- /.container -->
    <div class="container" id="containerLog">
    	<div class="row">
    		<div class="col-md-4 login-sec">
    		    <h2 class="text-center">Login Now</h2>
    		    <form class="login-form" method="POST" action="/login">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                  <input type="text" name="username" class="form-control" placeholder="Email ID">              
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                  <input name="password" type="password" class="form-control" placeholder="Password">
                </div> 
                <!-- Remember to set the user being remembered using cookie  -->
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <small>Remember Me</small>
                  </label>
                  <button type="submit" class="btn btn-login float-right">Submit</button>
                </div>   
                <!--FORM TO SET LOGIN PAGE ROUTE-->         
              </form>
          <div class="copy-text">
            New User &nbsp; 
            <a href="/register"> 
              Sign Up &nbsp;<i class="fas fa-user-plus"></i>
            </a>
          </div>
    		</div>
    		<div class="col-md-8 box large">
          <img  class="imageBanner" src="https://res.cloudinary.com/deepjha98/image/upload/v1589003247/apartment_plants_ukokey.jpg">
        </div>
      </div>
    </div>    


</body>
</html>